@media only screen and (max-width: 500px) {
    .page {
        background-color: #858786;
        color: #BFB59E;
        font-family: "Times New Roman", Times, serif;
    }
}

@media only screen and (min-width: 600px) {
    /* For tablets: */
    .page {
    	background-color: #858786;
    	color: #BFB59E;
    	font-family: "Times New Roman", Times, serif;

    }
}


    @media only screen and (min-width: 768px) {
    /* For desktop: */
    .page {
    	background-color: #858786;
    	color: #BFB59E;
    	font-family: "Times New Roman", Times, serif;
    }
}