{% extends "layout.html" %}
{% block title %}Inventory{% endblock %}
{% block body %}
<!---SHOW All items-->
{% if items==[]%}
<p> There are currently no items in the catalog. </p>

{% else %}
<table class="table-responsive">
{% for item in items %}
{% if loop.index0 % 3 ==0 %}
<tr>
{% endif %}
<td>
<a href={{url_for('product', product_id = item.id)}}>
      	<p>{{item.name}}</p>
      	<img src={{item.photo}} height="250" >
  	</a>
</td>
{% if loop.index0 %3 == 2 %}
</tr>
<br><br>
{% endif %}
{% endfor %}


{% endif %}
{% endblock %}